*{
    margin: 0px;
    padding: 0px;
}

.pageWrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    height: 10vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 0px 30px gray;
}

#headerName {
    color: white;
    text-shadow: 1px 1px 8px red;
}